<div class="car_card">
  <div id="link-card"><%= link_to car_path(car) do %></div>
    <div class="car-card">
      <div class="align-self-center">
        <div class="image-container">
          <img src="<%= car.image %>" class="image-size" alt="picture of <%= car.brand %> <%= car.model %>">
        </div>
        <div id="brand">
          <h4 class="align-self-center"><%= car.brand %></h4>
        </div>
        <div id="model">
          <p class="align-self-center"><%= car.model %></p>
        </div>
        <div id="price_per_day">
          <p class="align-self-center"><strong><%= car.price_per_day %>/jour</strong></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
